<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5"/>

        <pages masterPageFile="~/Shared/MasterPages/Site.master" 
               styleSheetTheme="Site" 
               enableViewState="false">
            <controls>
                <add src="~/Shared/UserControls/DisplayThread.ascx" tagPrefix="uc" tagName="DisplayThread"/>
            </controls>
        </pages>
        
    </system.web>
    
    <connectionStrings>
        <add name="DatabaseConnectionString" 
             connectionString="Data Source=172.16.214.1;Initial Catalog=WP12_jb222rw_Forum;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>