
body {
    background-color: #333366;
    padding: 10px;
}

header {
    overflow: hidden;
    margin-bottom: 20px;
}

header h1 {
    float: left;
    color: #4cff00;
    text-shadow: 0 0 5px black;
}

#main {
    clear: both;
}
header h2 {
    float: right;
    font-size: 20px;
    color: antiquewhite;
}


.well {
    overflow: hidden;
}

p {
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 18px;
    line-height: 25px;
}

#ThreadPanel {
}

#container {
    margin: 0 auto;
    max-width: 1024px;
}

textarea {
    resize: vertical;
    display: block;
    width: 99%;
}
