.thread {
    background: papayawhip;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid gray;
    overflow: hidden;
}
    .thread .date {
        color: forestgreen;
    }

    .thread .username {
        color: blue
    }

    .thread input {
        margin: 1px;
    }

.thread-info {
}

    .thread-info span {
        padding: 2px 5px;
    }

.thread-buttons {
    float: right;
}   
